<%- include("partials/header.ejs") %>

<body>

<div class="container">
    <a class="preview-row" href="/posts/<%= featuredTitle %>">
    <div class="row featured">
        <div class="col-7 featured">
            <h2 class="featured-title"> <%= featuredTitle %> </h2>
            <p class="featured-text"> <%= "'" + featuredText + "'" %> </p>
            <p class="featured-author"> <%= featuredAuthor %> </p>
        </div>
        <div class="col-12 col-md-6 featured">
            <img class="profile" src="<%=featuredImage%>" alt="sf profile">
        </div>
    </div>
    </a>

    <div class="row line">
        <div class="col-12 latest">
            <h6 class="latestTitle">The Latest</h6>
        </div>
    </div>

    
    <% if (locals.postsArray) { %>
        <% postsArray.forEach(function(post) { %>
            
            <div class="row line">
                <div class="col-12 line">
                    <hr>
                </div>
            </div>

            <a class="preview-row" href="/posts/<%= post[0] %>">
            <div class="row latest">
                <div class="col-8 col-md-3 previewTitle">
                    <p class="preview-category"> <%= post[6] %> </p>
                    <h5 class="preview-title-text"> <%= post[0] %> </h5>
                    <p class="preview-author"> <%= post[2] %> </p>
                    <p class="preview-datetime text-muted">  <%= post[3] %> &#x2022; <%= post[4] %> </p>
                </div>
                <div class="col-3 text-muted summary">
                    <p> <%= post[1].substring(0, 170) + "..." %> 
                        
                    </p>
                    
                </div>
                <div class="col-4 col-md-3 previewImage">
                    <img class="thumbnail" src= "<%= post[5] %>" alt="sf profile">
                </div>
            </div>
            </a> 
        <%  }) %>
   <% } %>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

