<%- include("partials/header.ejs") %>

<body>

<div class="container">
    
    <!--Featured Article-->
    <!--<a class="preview-row" href="/posts/<%= featuredTitle %>"> -->
    <!--This handleClick function call is highlighted as an error but it works!-->
    <!--Had to replace any apostrophe character in featuredTitle before passing to handleClick-->
    <a href="javascript:void(0);" onclick="handleClick('<%- featuredTitle.replace(/['"\\]/g, "\\$&") %>')" class="preview-row">
        <div class="row featured">
        <div class="col-7 featured">
            <h2 class="featured-title"> <%= featuredTitle %> </h2>
            <p class="featured-subtitle"> <%= featuredSubtitle %> </p>
            <p class="featured-author"> <%= featuredAuthor %> </p>
        </div>
        <div class="col-12 col-md-6 featured">
            <img class="profile" src="<%=featuredImage%>" alt="sf profile">
        </div>
    </div>
    </a>
    <!--handleClick creates a copy of featuredTitle without special characters-->
    <!--and spaces replaced by hyphens-->
    <script>
    function handleClick(title) {
        console.log(title);
    try {
        // Modify the parameter, for instance, removing non-alphanumeric characters
        let cleanTitle = title.replace(/[^a-zA-Z0-9 ]/g, '').replace(/\s+/g, '-');
        
        // Encode the title component to handle special characters properly
        let encodedTitle = encodeURIComponent(cleanTitle);
        
        // Redirect to the cleaned URL with the encoded title
        window.location.href = `/posts/${encodedTitle}`;
    } catch (error) {
        console.error("Error handling click:", error);
    }
    }
    </script>    

    <div class="row featured-line">
        <div class="col-12 featured-line">
            <hr>
        </div>
    </div>

    <!--Pinned Articles-->
    <!--Loop through pinnedArray-->
    <% if (locals.pinnedArray) { %>
        <% pinnedArray.forEach(function(pinnedArticle, index) { %>

            <% if (index == pinnedArray.length - 1) { %>
                <!--<a class="preview-row" href="/posts/<%= pinnedArticle.title %>"> -->
                <a href="javascript:void(0);" onclick="handleClick('<%- pinnedArticle.title.replace(/['"\\]/g, "\\$&") %>')" class="preview-row">
                    <div class="row latest">
                        <div class="col-11 featured-preview">
                            <p class="preview-category"> <%= pinnedArticle.category %> </p>
                            <h5 class="preview-title-text pinned"> <%= pinnedArticle.title %> </h5>
                            <p class="preview-author"> <%= pinnedArticle.author %> </p>
                            <hr class="thick-line">
                        </div>
                    </div>
                </a> 
            <% } else { %>
                <!--<a class="preview-row" href="/posts/<%= pinnedArticle.title %>"> -->
                <a href="javascript:void(0);" onclick="handleClick('<%- pinnedArticle.title.replace(/['"\\]/g, "\\$&") %>')" class="preview-row">
                    <div class="row latest">
                        <div class="col-11 featured-preview">
                            <p class="preview-category"> <%= pinnedArticle.category %> </p>
                            <h5 class="preview-title-text pinned"> <%= pinnedArticle.title %> </h5>
                            <p class="preview-author"> <%= pinnedArticle.author %> </p>
                            <hr class="thin-line">
                        </div>
                    </div>
                </a> 
            <% } %>

        <%  }) %>
    <% } %>

    <!--Latest Articles-->
    <div class="row line">
        <div class="col-12 latest">
            <h6 class="latestTitle">The Latest</h6>
        </div>
    </div>

    <!--Loop through the posts and add them to the div tags-->
    <!--"..." is used to make a copy of the array before reversing the order-->
    <!--Made a copy just in case it's helpful to have the original array structure later-->
    <% if (locals.articles) { %>
        <% [...articles].reverse().forEach(function(post) { %>
            
            <div class="row line">
                <div class="col-12 line">
                    <hr>
                </div>
            </div>

            <% if (post.title == featuredTitle) { %>

                <!--<a class="preview-row" href="/posts/<%= post.title %>"> -->
                <a href="javascript:void(0);" onclick="handleClick('<%- post.title.replace(/['"\\]/g, "\\$&") %>')" class="preview-row">
                    <div class="row latest">
                        <div class="col-12 featured-preview">
                            <img class="featured-thumbnail" src= "<%= post.image_path %>" alt="sf profile">
                            <h6 class="featured-label">Featured Article</h6>
                            <h5 class="preview-title-text featured"> <%= post.title %> </h5>
                            <p class="preview-author"> <%= post.author %> </p>
                            <p class="preview-datetime text-muted">  <%= post.time %> &#x2022; <%= post.date %> </p>
                        </div>
                    </div>
                    </a> 
            
            <% } else { %>

                <!--<a class="preview-row" href="/posts/<%= post.title %>"> -->
                <a href="javascript:void(0);" onclick="handleClick('<%- post.title.replace(/['"\\]/g, "\\$&") %>')" class="preview-row">
                <div class="row latest">
                    <div class="col-8 col-md-3 previewTitle">
                        <p class="preview-category"> <%= post.category %> </p>
                        <h5 class="preview-title-text"> <%= post.title %> </h5>
                        <p class="preview-author"> <%= post.author %> </p>
                        <p class="preview-datetime text-muted">  <%= post.time %> &#x2022; <%= post.date %> </p>
                    </div>
                    <div class="col-3 text-muted summary">
                        <p> <%= post.article_content.substring(0, 170) + "..." %> 
                            
                        </p>
                        
                    </div>
                    <div class="col-4 col-md-3 previewImage">
                        <img class="thumbnail" src= "<%= post.image_path %>" alt="sf profile">
                    </div>
                </div>
                </a> 
            <% } %>
        <%  }) %>
   <% } %>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

