<%- include("partials/header.ejs") %>


<body>

    <% if (locals.title && locals.content) { %>

    <div class="container">

        <div class="row post-title">
            <div class="col-9">
                <h1 class="post-title"> <%= title %> </h1>
                <p class="post-author"> <%= author %> &nbsp; &nbsp; <span class="post-datetime text-muted"> <%= time %> &#x2022; <%= date %> </span> </p>
                
            </div>
        </div>

        <div>
            <img class="post-image" src= "<%= imagePath %>" alt="sf profile">
        </div>

        <div class="row post-content">
            <div class="col-8">
                <p class="post-content-text"> <%= content %> </p>
            </div>
        </div>
           
    </div>

<% } %>

</body>
